.button-wrapper{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #5a5a5a;
    color: white;
    flex: 1;

    margin: 4px;
    border-radius: 25px;
}
